.AdditionalDetails {

    background-color: #FFF8F8;
    width: 100vw;
    height: 100vh;

    .Prev {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        float: left;
        margin: 50px 0 0 50px;
    }

    .Next {
        float: right;
        margin: 50px 50px 0 0;
    }

    .AdditionalDetailsSection {
        height: 80vh;
        width: 80vw;
        display: flex;
        flex-direction: column;  
        justify-content: center;
        
        .date-of-birth {
            margin: 20px 0 0 50px;
        }

        .dob-label {
            margin: 20px 0 0 50px;
            color: #1C44E4;
            text-align: left;
            vertical-align: top;
            font-family: 'Trebuchet MS';
            font-style: normal;
            font-size: 20px;
            font-weight: bold;
        }

        .gender-dropdown {
            margin: -250px 0 100px 50px;
        }

    }
}