.BasicDetails {
        display: block;
        position: absolute;
        bottom: 100px;
        width: 100%;
    
        .form-group {
            font-size: 100px;
            margin-bottom: 10px;
        }
    
        .email {
            margin-bottom: 20px;
        }
    
        .password {
            width: 200px;
        }
}