.Interests {
    .completion-modal {
        width: 75%;
        height: 50%;
         
        .completion-modal-title {
            text-align: center;
            vertical-align: middle;
            line-height: 50%; 
        }
    
        .completion-modal-body {
    
        }
    
        .completion-modal-image {
            img {
                width: 10px;
              }
    
        }
    }

}